.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.swo

.vscode/

ehthumbs.db
Icon?
Desktop.ini

*.css.map

*.min.js
*.min.css

.cache/
.cache-loader/

.env
.env.*

*.bash_history
*.zsh_history

*.out.css
*.out.map

*.zip
*.rar
*.tar.gz
